%fieldset{ class: klass }
  .nine-columns
    = form.label :title, t('proposals.attributes.title')
    = form.text_field :title, required: 'true'
  .four-columns
    = form.label :level, t('proposals.attributes.level')
    = form.select :level, Cfp::Proposal::TALK_LEVEL.collect {|l| [t("level.#{l}"), l]}
  .four-columns
    = form.label :language, t('proposals.attributes.language')
    = form.select :language, Cfp::Proposal::LANGUAGE
  .four-columns
    = form.label :tags, t('proposals.attributes.tags')
    = form.text_field :tags, placeholder: t('helpers.placeholder.proposal.tags')
  .seven-columns
    = form.label :description, t('proposals.attributes.description')
    = form.text_area :description, rows: 8, placeholder: t('helpers.placeholder.proposal.description'), required: 'true'
  .five-columns
    = form.label :abstract, t('proposals.attributes.abstract')
    = form.text_area :abstract, rows: 8, placeholder: t('helpers.placeholder.proposal.abstract'), required: 'true'
