%li.twelve-columns{ class: reviewed(proposal) ? 'reviewed' : ''}
  - if reviewed(proposal)
    .check
      = already_reviewed(proposal)
  - else
    .rank
      %i.fa.fa-asterisk
  .tit-prop
    = link_to user_based_proposal_path(proposal), title: proposal.title do
      = proposal.title
    %br
    %span.tags
      Tags: #{proposal.tags}
  #controls
    - if current_user.can_review?
      %span.gold
        %i.fa.fa-star
        = proposal.average_ranking
      %span.silver
        %i.fa.fa-comment
        = comments_count(proposal)

    - if current_user.can_review?
      = link_to user_based_proposal_path(proposal), class: 'review-btn' do
        = reviewed(proposal) ? 'Reviewed' : 'Review'
        %span
    - else
      = link_to  edit_proposal_path(proposal), class: 'edit-btn' do
        = t("proposals.edit")
        %span


