- content_for :header_title do
  %h3= t('proposals.title', title: @proposal.title)

.eight-columns
  = form_for @proposal do |form|
    = render 'form', form: form, klass: 'gray-background'

    .btn-aro.upper
      = form.submit t('proposals.update'), class: 'aro'

.one-column.days-left
  %p= remaining_days
  %span= t('proposals.days')
