- content_for :header_title do
  %h3= "#{@propos.total_entries} #{t('proposals.my')}"

.nine-columns.sub-titles
  - if current_user.is_admin?
    %span
      = link_to 'View Top Ranked Proposals', '/ranked-proposals'
  - if current_user.can_review?
    %span
      %i.fa.fa-star
      = t('proposals.rank')
    %span
      %i.fa.fa-comment
      = t('proposals.comments')
    %span
      %i.fa.fa-check
      = t('proposals.rated')

  .two-column.days-left
    .count= remaining_days.to_i < 0 ? '0' : remaining_days
    - if remaining_days.to_i < 0
      %span= t('proposals.day_over')
    - elsif remaining_days == '0'
      %span= t('proposals.last_day')
    - else
      %span= t('proposals.days')

.nine-columns
  = form_for @proposal do |form|
    = render 'form', form: form, klass: 'gray-background'

    .three-columns.offset-five.move-buttons
      .btn-cancel
        = link_to t('profiles.cancel'), proposals_path, class: 'aro'
    .four-columns.move-buttons
      .btn-aro
        = form.submit t('proposals.update'), class: 'aro'
