- content_for :header_title do
  %h3= "#{@propos.total_entries} #{t('proposals.my')}"

.nine-columns
  - if current_user.is_admin?
    %span
      = link_to 'View Top Ranked Proposals', '/ranked-proposals'
  - if current_user.can_review?
    %span
      %i.fa.fa-star
      = t('proposals.rank')
    %span
      %i.fa.fa-comment
      = t('proposals.comments')
    %span
      %i.fa.fa-check
      = t('proposals.rated')

  = form_for @proposal, html: { novalidate: true } do |form|
    = render 'form', form: form, klass: 'gray-background'

    .one-columns.offset-four
      .btn-cancel
        = link_to t('profiles.cancel'), proposals_path, class: 'aro'
    .three-columns
      .btn-aro
        = form.submit t('proposals.update'), class: 'aro'
