- content_for :header_title do
  = t('proposals.title', title: @proposal.title)

.eight-columns
  = form_for @proposal do |form|
    %fieldset.gray-background
      = render 'form', form: form

    .btn-aro.upper
      = form.submit t('proposals.update'), class: 'aro'

.one-column.days-left
  %p= remaining_days
  %span= t('proposals.days')
