- content_for :header_title do
  = t('proposals.mine')

- if current_user.can_review?
  .nine-columns.sub-titles
    %span
      %i.fa.fa-star
      Rank
    %span
      %i.fa.fa-comment
      Comments
    %span
      %i.fa.fa-check
      Rated

.eight-columns.lists
  %ul
    =render @proposals
    - if cfp_open?
      %li.three-columns
        = link_to new_proposal_path, class: 'btn-ring' do
          .aro
            %span +
            %span
              = t('proposals.add_html')


.one-column.days-left
  %p= remaining_days
  %span= t('proposals.days')
