- content_for :header_title do
  = t('proposals.mine')

- if current_user.can_review?
  .nine-columns.sub-titles
    %span Rank
    %span Comment
    %span Rated

.eight-columns.lists
  %ul
    =render @proposals
    - if cfp_open?
      %li.three-columns
        = link_to new_proposal_path, class: 'btn-ring' do
          .aro
            %span +
            %span
              = t('proposals.add_html')


.one-column.days-left
  %p= t('proposals.num')
  %span= t('proposals.days')
