- content_for :header_title do
  %h3= current_user.can_review? ? t('proposals.rate') : t('proposals.mine')

- if current_user.can_review?
  .nine-columns.sub-titles
    %span
      %i.fa.fa-star
      = t('proposals.rank')
    %span
      %i.fa.fa-comment
      = t('proposals.comments')
    %span
      %i.fa.fa-check
      = t('proposals.rated')

.eight-columns.lists
  %ul
    =render @proposals
    - if cfp_open? and !current_user.can_review? and available?
      %li.three-columns
        = link_to new_proposal_path, class: 'btn-ring' do
          .aro
            %span +
            %span
              = t('proposals.add_html')


.one-column.days-left
  %p= remaining_days
  %span= t('proposals.days')
