- content_for :header_title do
  %h3= current_user.can_review? ? "#{@proposals.total_entries} #{t('proposals.all')}" : t('proposals.mine')

- if current_user.can_review?
  .nine-columns.sub-titles
    %span
      = link_to 'View Top Ranked Proposals', '/ranked-proposals'
    %span
      %i.fa.fa-star
      = t('proposals.rank')
    %span
      %i.fa.fa-comment
      = t('proposals.comments')
    %span
      %i.fa.fa-check
      = t('proposals.rated')

.eight-columns.lists
  %ul
    =render @proposals
    - if cfp_open? and !current_user.can_review? and available?
      %li.three-columns
        = link_to new_proposal_path, class: 'btn-ring' do
          .aro
            %span +
            %span
              = t('proposals.add_html')
  .container
    .centered-six.pagination_sp
      - if current_user.can_review?
        %nav
          = will_paginate(@proposals)
    .centered-six.current_pages
      %span= @proposals.current_page
      %span /
      %span= @proposals.total_pages

.one-column.days-left
  %p= remaining_days.to_i < 0 ? '0' : remaining_days
  - if remaining_days.to_i < 0
    %span= t('proposals.day_over')
  - elsif remaining_days == '0'
    %span= t('proposals.last_day')
  - else
    %span= t('proposals.days')
