- content_for :header_title do
  %h3= t('proposals.new_title')

.eight-columns
  = form_for @proposal do |form|
    = render 'form', form: form, klass: 'new-proposal'

    .three-columns.offset-five.move-buttons
      .btn-cancel
        = link_to t('profiles.cancel'), proposals_path, class: 'aro'
    .four-columns.move-buttons
      .btn-aro
        = form.submit t('proposals.create'), class: 'aro'

.one-column.days-left
  %p= remaining_days
  %span= t('proposals.days')
