- content_for :header_title do
  = t('proposals.new_title')

.eight-columns
  = form_for @proposal do |form|
    %fieldset.new-proposal
      = render 'form', form: form

    .btn-aro.upper
      = form.submit t('proposals.create'), class: 'aro'

.one-column.days-left
  %p= remaining_days
  %span= t('proposals.days')
