- content_for :header_title do
  %h3= t('comments.title')

.three-columns.offset-six
  .back-to-proposals
    = link_to proposals_path, class: 'no-shadow' do
      %span
      = t('comments.back_to_proposals')

.nine-columns.proposal-show
  .container-rate
    = render 'cfp/application/formatted_proposal'

    .gray-background.group
      #ranking.twelve-columns
        %h3= t('comments.proposals.rate')
        .three-columns.block
          %span= t('comments.proposals.worst')

        .four-columns.block
          #rank-list
            - Cfp::Proposal::RANK_SCALE.each do |rank|
              %label{ style: 'display:inline' }
                = rank
                = radio_button_tag rank, rank, (@score ? rank == @score.value : false), name: 'rank'
        .three-columns.block
          %span= t('comments.proposals.best')
        .two-columns.block{style: 'margin-top: -10px'}
          .btn-rank
            = button_tag t('comments.proposals.rank'), class: 'aro', id: 'submit-rank', disabled: true
    .eight-centered.direction.navigation
      .one-column.offset-four
        - if @prev
          = link_to '', proposal_comments_path(@prev, anchor: 'title_rate'), class: 'a-left'
        - else
          %a.a-left.disabled
      .two-columns.index
        = proposal_position(@proposal)
      .one-column
        - if @next
          = link_to '', proposal_comments_path(@next, anchor: 'title_rate'), class: 'a-right'
        - else
          %a.a-right.disabled

    .gray-background.group#comments
      .twelve-columns
        %h3.com-h3
          %i.fa.fa-comment
          = "#{@comments.size} #{t('proposals.comments')}"
        - if @comments.empty?
          %hr.double
        -else
          %ul
            = render @comments.reverse

    .gray-background.leave-comment
      .two-columns
        %h3.com-h3= t('comments.thoughts')
      .ten-columns
        = form_for [@proposal, Cfp::Comment.new] do |form|
          = form.text_area :body, rows: 8, placeholder: t('comments.placeholder'), class: 'nine-columns'
          .three-columns
            .btn-comment
              = form.submit t('comments.new'), class: 'aro', disabled: true

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      new Cfp.Views.RankingView($('#submit-rank'));
      new Cfp.Views.SubmitComment({ el: $('#new_comment') });

    });
