.row
  %ul.breadcrumb
    %li
      = link_to t('proposals.proposals'), proposals_path()
      %span.divider /
    %li.active= t('actions.comment')
.row
  .span12
    = counter
    = next_help(@proposal.id)

.row
  .span3
    %h3 Discuss
.row
  .span4
    %ul.nav.nav-list
      %li
        = label_tag :rank, t('proposals.rank')
        #ranking
          - Cfp::Proposal::RANK_SCALE.each do |rank|
            %label.checkbox.inline
              = radio_button_tag rank, rank, (@score ? rank == @score.value : false), id: 'rank', name: 'rank'
              = rank
      %li= link_to t('comments.new'), new_proposal_comment_path(@proposal), remote: true
      %li.new-comment

      %li
        .comments
          %h4= t('actions.comment')
          .comment_list= render @comments.reverse


  .span6.discuss
    = render :partial => "formatted_proposal", :object => @proposal

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      window.app = new Cfp.Views.RankingView();
    });
