- content_for :header_title do
  %h3= t('comments.title')
  = link_to t('comments.back_to_proposals'), proposals_path, class: 'no-shadow'

.nine-columns.proposal-show
  .container-rate

    = render 'cfp/application/formatted_proposal'

    .gray-background.group#rnk
      #ranking
        .grid-com-one.tit
          %h3= t('comments.proposals.rate')
        .grid-com-two
          .less
            %span= t('comments.proposals.worst')

          .rank
            #rank-list
              - Cfp::Proposal::RANK_SCALE.each do |rank|
                %label{ style: 'display:inline' }
                  = radio_button_tag rank, rank, (@score ? rank == @score.value : false), name: 'rank'
                  = rank
          .more
            %span= t('comments.proposals.best')
        .grid-com-one
          .btn-rank
            = button_tag t('comments.proposals.rank'), class: 'aro', id: 'submit-rank', disabled: true
    .eight-centered.direction
      - unless @prev
        %span.s-left
          %i
      - else
        = link_to proposal_comments_path(@prev), class: 'a-left' do
          %i
      - unless @next
        %span.s-right
          %i
      - else
        = link_to proposal_comments_path(@next), class: 'a-right' do
          %i

    .gray-background.group#comments
      .twelve-columns
        %h3.com-h3
          %i.fa.fa-comment
          = "#{@comments.size} #{t('proposals.comments')}"
        %ul
          = render @comments.reverse

    .gray-background.leave-comment
      .com-one
        %h3.com-h3= t('comments.thoughts')
      .com-three
        = form_for [@proposal, Cfp::Comment.new] do |form|
          = form.text_area :body, rows: '5'
          .btn-comment
            = form.submit t('comments.new'), class: 'aro', disabled: true

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      new Cfp.Views.RankingView($('#submit-rank'));
      new Cfp.Views.SubmitComment({ el: $('#new_comment') });

    });
