- content_for :header_title do
  %h3= t('comments.title')
  = link_to t('comments.back_to_proposals'), proposals_path

= render 'cfp/application/formatted_proposal'

.nine-columns.gray-background#ranking
  .grid-com-one.tit
    %h3= t('comments.proposals.rate')
  .grid-com-two
    .less
      %span= t('comments.proposals.worst')

    .rank
      #rank-list
        - Cfp::Proposal::RANK_SCALE.each do |rank|
          %label{ style: 'display:inline' }
            = radio_button_tag rank, rank, (@score ? rank == @score.value : false), name: 'rank'
            = rank
    .more
      %span= t('comments.proposals.best')
  .grid-com-one
    .btn-rank
      = button_tag t('comments.proposals.rank'), class: 'aro', id: 'submit-rank'

.nine-columns.gray-background#comments
  .twelve-columns
    %h3.com-h3
      %i.fa.fa-comment
        = "#{@comments.size} #{t('comments.new')}"
    %ul
      = render @comments.reverse

.nine-columns.gray-background.offset-three.leave-comment
  .com-one
    %h3.com-h3 Leave your thoughts
  .com-three
    = form_for [@proposal, Cfp::Comment.new] do |form|
      = form.text_area :body, rows: '5'
      .btn-comment
        = form.submit t('comments.new'), class: 'aro'

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      window.app = new Cfp.Views.RankingView();
    });
