- content_for :header_title do
  = t('comments.title')

= render 'cfp/application/formatted_proposal'

.nine-columns.gray-background#ranking
  .three-columns
    %h3= t('comments.proposals.rate')
  .one-column
    %span= t('comments.proposals.worst')

  .four-columns
    #rank-list
      - Cfp::Proposal::RANK_SCALE.each do |rank|
        %label{ style: 'display:inline' }
          = radio_button_tag rank, rank, (@score ? rank == @score.value : false), name: 'rank'
          = rank
  .two-columns
    %span= t('comments.proposals.best')
  .two-columns
    .btn-rank
      = button_tag t('comments.proposals.rank'), class: 'aro', id: 'submit-rank'

.nine-columns.gray-background
  .twelve-columns
    %h3= "#{@comments.size} Comments"
    %ul
      = render @comments.reverse

.nine-columns.gray-background.offset-three
  .twelve-columns
    = form_for [@proposal, Cfp::Comment.new] do |form|
      = form.text_area :body, rows: '5'
      .btn-aro
        = form.submit t('comments.new'), class: 'aro'

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      window.app = new Cfp.Views.RankingView();
    });
