- content_for :header_title do
  Rate Proposal

= render 'cfp/application/formatted_proposal'

.nine-columns.gray-background#ranking
  %h3 Rate this proposal
  %span It can be better
  #rank-list
    - Cfp::Proposal::RANK_SCALE.each do |rank|
      %label{ style: 'display:inline' }
        = radio_button_tag rank, rank, (@score ? rank == @score.value : false), name: 'rank'
        = rank
  %span Must be at magmaconf
  .btn-aro
    = button_tag 'Rank', class: 'aro', id: 'submit-rank'

.nine-columns.gray-background
  %h3= "#{@comments.size} Comments"
  %ul
    = render @comments.reverse

.nine-columns.gray-background
  = form_for [@proposal, Cfp::Comment.new] do |form|
    = form.text_area :body, rows: '5'
    = form.submit

- content_for :scripts do
  :javascript
    $(document).ready(function () {
      window.app = new Cfp.Views.RankingView();
    });
