%h4= @proposal.title
.speaker
  = @proposal.user_name
.level
  = @proposal.level
.tags
  = @proposal.tags
%hr
%h3 Abstract
.abstract
  = @proposal.abstract_html
%hr
%h3 Notes
.description
  = @proposal.description_html
