.gray-background.group
  .twelve-columns
    %header
      %h3= t('proposals.attributes.title')
      %p.title= @proposal.title
      %p.tags= "Tags: #{@proposal.tags}"
    .content
      %h3= t('proposals.attributes.description')
      = sanitize @proposal.description_html

      %h3= t('proposals.attributes.notes')
      = sanitize @proposal.abstract_html

    - if current_user.can_review?
      %footer
        %h3= t('proposals.about_author')
        .image
          = image_tag @proposal.user.gravatar_url(size: 65)
        .info
          %p.name= @proposal.user_name
          %p.org=  t('proposals.from_company', company: @proposal.user.profile_company)
          = link_to t('proposals.github_profile'),
                    "http://www.github.com/#{@proposal.user.nickname}",
                    class: 'github-profile'
%hr
