= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js'
= javascript_include_tag 'cfp/application'
= javascript_include_tag 'application'

:javascript
  $(document).ready(function() {
    $('#profile_locale').attr('tabindex', 5);
    $('#my_modal').popup();
    window.currentLocale = "#{I18n.locale}";
  });
