// LISTS

#cont_lists
  .listss.container
  .content.container
    %header.row
      .twelve-columns
        %h2= "#{@propos.total_entries} #{t('proposals-list.header.title')}"
        = link_to '#', class: 'lists_close' do
          = image_tag 'direction-left.svg'
          %span= t('proposals-list.hide')
      .twelve-columns.lines
    #pagination
      = render 'cfp/application/pagin'
    %footer.row
      .centered-six
        = image_tag 'crowd-1.svg'
      .centered-eight
        %span
          &copy;
          = t('copyright')

#list_phone
  .numbers
    %span= @propos.total_entries
    %p= t('proposals-list.show')
    = link_to t('proposals-list.link'), '#', class: 'open_propos_phone'
  #proposals_phone
    %header
      %p= "#{@propos.total_entries} #{t('proposals-list.name')}"
      = link_to '#', class: 'close_propos_phone' do
        = image_tag 'direction-top.svg'
    %article
      %ul
        - num = @propos.total_entries + 1
        - @propos_phone.each do |proposal|
          %li
            .left
              %span.num= num = num - 1
            .right
              %span= proposal.title
