// LISTS

#popup_back
#cont_lists
  .listss.container
    .row
      .six-centered
        = image_tag 'direction-top.svg', class: 'lists_close'
        %p.lists_close= t('proposals-list.hide')
  .content.container
    %header.row
      .twelve-columns
        %h2= t('proposals-list.header.title')
      .twelve-columns.lines
    %aside.row
      .eight-columns
        %h5= t('proposals-list.content.proposal')
      .four-columns
        %h5= t('proposals-list.content.tags')
      .twelve-columns.line
    #pagination
      = render 'cfp/application/pagin'
    %footer.row
      .centered-six
        = image_tag 'crowd-1.svg'
      .centered-five
        %span
          &copy;
          = t('copyright')
