- ini = [0,0,8,16,24,32,40,48,56,64,72,80,88,96,104,112,120,128,136]
- num = ini[params[:page].to_i]
- @propos.each do |proposal|
  %main.row
    .one-column
      %span.num= num = num + 1
    .seven-columns
      %span.title= proposal.title
    .four-columns
      %span.tag= proposal.tags
    .twelve-columns.line
.row
  %nav.centered-six
    .pagination
      - if params[:page].to_i >= 2
        = link_to talks_path((params[:page].to_i == 0 ? 1 : params[:page].to_i ) - 1), class: 'previous_page', rel: 'next', :remote => true do
          %i.prev
      - else
        %span{class: "previous_page disabled"}
          %i.prev
      %em= @propos.current_page
      %em /
      %em= @propos.total_pages
      - if @propos.total_pages == @propos.current_page
        %span{class: "next_page disabled"}
          %i.next
      - else
        = link_to talks_path((params[:page].to_i == 0 ? 1 : params[:page].to_i ) + 1), class: 'next_page', rel: 'next', :remote => true do
          %i.next
