.row
  .centered-six
    .circle
      .login-up
        %a{href: "/auth/github", class: "sign-in"}
          = t('devise.sessions.sign_up')
          %br
          = image_tag 'github.svg'
    .important
      %p
        = t('terms.important')
        = link_to t('terms.show'), '#', class: 'my_modal_open'
      .cir
        = image_tag 'info.svg'
    .counting
      .cir
        %span= @propos.total_entries
      %p
        = t('proposals-list.show')
        = link_to t('proposals-list.link'), '#', class: 'lists_open'
