.row
  .centered-four
    %p.ready= t('home.ready')
    %p.you= t('home.you')
    = image_tag 'magma.svg', class: 'magma_logo', alt: 'Magma Conference'
    .circle
      .login-up
        %a{href: "/auth/github", class: "sign-in"}
          = t('devise.sessions.sign_up')
          %br
          = image_tag 'github.svg'
      = link_to t('devise.sessions.terms'), '#'
