.row
  -#.centered-six
    .circle
      .login-up
        = link_to '/auth/github', class: 'github-login' do
          %span=  t('home.login_github')
    -#.important
      %p
        = t('terms.important')
        = link_to t('terms.show'), '#', class: 'my_modal_open'
      .cir
        = image_tag 'info.svg'
    -#.counting
      -#.cir
        -#= image_tag 'mask-01.svg', class: 'minimask'
      -#%p
        -#= t('home.signin')
        -#= link_to t('home.login'), '/auth/github'
