!!!
%html
  %head
    %title MagmaConf: Call For Papers
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0' }
    %meta{ name: "author", content: "Crowd Interactive - http://crowdint.com" }
    %meta{ content: ' MagmaConf: Call For Papers', property: 'og:title' }
    %meta{ content: 'http://cfp.magmaconf.com', property: 'og:url' }
    %meta{ content: 'Call for Papers of MagmaConf 2014. MagmaConf is an annual Web Development Conference happening June 4, 5 & 6 2014 in the coastline city Manzanillo, Colima, Mexico', property: 'og:description' }
    %meta{ content: 'Call for Papers of MagmaConf 2014. MagmaConf is an annual Web Development Conference happening June 4, 5 & 6 2014 in the coastline city Manzanillo, Colima, Mexico.', name: 'description' }
    %meta{ name: "keywords", content: "call for papers, magmaconf, rails, ruby, UI, UX, web development, frontend, manzanillo, conference, 2014, june, junio, github, sinatra, design, conferencia, tecnologia" }
    = stylesheet_link_tag 'cfp/application', media: 'all'
    = render 'cfp/application/javascripts'
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Teko:300,400,600&subset=latin' }
    %link{ rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico'}" }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .container
      .row
        %aside.three-columns.profile
          = render 'cfp/profiles/profile'
          .lath-image
          %footer.prof
            %p
              = image_tag 'crowd-1.svg', alt: 'Crowd Interactive Logo', class: 'crowd-logo'
              %span
                &copy;
                = t('copyright')

        .nine-columns
          #title_rate.titles
            .left-section
              = content_for?(:header_title) ? yield(:header_title) : content_tag('h3', t('devise.profiles.complete'))
            .right-section
              = render 'cfp/application/menu'

        = yield

        .five-columns
          %footer.bottom
            %p
              = image_tag 'crowd-1.svg', alt: 'Crowd Interactive Logo', class: 'crowd-logo'
              %span
                &copy;
                = t('copyright')

    = render 'cfp/application/popup'
    = yield :scripts
    :javascript
      $('document').ready(function() {
        $('#my_modal').tabs();
      });
