!!!
%html
  %head
    %title MagmaConf: Call For Papers
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0' }
    = stylesheet_link_tag 'cfp/application', media: 'all'
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,300|Oswald:400,300,700&subset=latin' }

  %body
    .container
      .top
      %aside.three-columns.profile
        %header
          = image_tag '/assets/magma-2.svg', class: 'logo-magma'
          .line
        .profile-in
          %h4= t('devise.profiles.profile')
          .pic
            = image_tag '/assets/gio.jpg'
          .company
            Crowd Interactive
          .location
            Colima, Col
          .email
            mendozagioo@gmail.com
          .complete
            Complete my profile
          .cfp-logo
            = image_tag '/assets/cfp-2.svg'
        %footer
          %p
            %img{src: '/assets/crowd.png', alt: 'Crowd Interactive Logo'}
            %span &copy; 2013, This site is protected by Copyright. Under U.S and international law. All rights reserved.

      %section.nine-columns
        %header.titles
          .left-section
            %h3= t('devise.profiles.complete')
          .right-section
            = render :partial => '/cfp/menu', class: 'cfp2'
        
        = yield

    = render 'cfp/javascripts'
    = yield :scripts
