!!!
%html
  %head
    %title MagmaConf: Call For Papers
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0' }
    = stylesheet_link_tag 'cfp/application', media: 'all'
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,300|Oswald:400,300,700&subset=latin' }

  %body
    .container
      .top
      .row
        %aside.three-columns.profile
          = render 'cfp/profiles/profile'
          = image_tag 'liston_bg.png', class: 'lath'
          %footer.prof
            %p
              = image_tag 'crowd.png', alt: 'Crowd Interactive Logo'
              %span
                &copy;
                = t('copyright')

        .nine-columns
          .titles
            .left-section
              = content_for?(:header_title) ? yield(:header_title) : content_tag('h3', t('devise.profiles.complete'))
            .right-section
              = render 'cfp/application/menu'

        = yield

    = render 'cfp/application/javascripts'
    = yield :scripts
