- content_for :header_title do
  %h3 Top Ranked Proposals
  = link_to t('proposals.back_to_proposals'), proposals_path, class: 'no-shadow'


.nine-columns
  - if current_user.can_review?
    %table.rank-list
      %thead
        %tr
          %th
            \#
          %th
            Title
          %th
            Author
          %th
            Email
          %th
            Company
          %th
            Votes
      %tbody
        - @ranked_proposals.each_with_index do |proposal, i|
          %tr
            %td
              = (i + 1)
            %td
              = link_to "#{proposal.title}", proposal_path(proposal)
            %td
              = proposal_author(proposal)
            %td
              = proposal_author_email(proposal)
            %td
              = proposal_author_company(proposal)
            %td
              = proposal.average_ranking
