.left
  = form.label :name
  = form.text_field :name

  = form.label :title
  = form.text_field :title

.right
  = form.label :company
  = form.text_field :company

  = form.label :language
  = form.select :locale, Cfp::Profile::LOCALES

= form.label :bio
= form.text_area :bio, :rows => 6, :class => "input-block-level title"
