= form.label :name, t('profiles.attributes.name')
= form.text_field :name, class: 'name'

.left
  = form.label :title, t('profiles.attributes.title')
  = form.text_field :title

  = form.label :email, t('profiles.attributes.email')
  = form.text_field :email

.right
  = form.label :company, t('profiles.attributes.company')
  = form.text_field :company

  = form.label :language, t('profiles.attributes.language')
  = form.select :locale, Cfp::Profile::LOCALES

= form.label :bio, t('profiles.attributes.bio')
= form.text_area :bio, rows: 6, class: 'input-block-level title'

= link_to t('profiles.cancel'), proposals_path(current_user)

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      form = $('#edit_profile');
      new Cfp.Views.FormEditView({el: $('#edit_profile'), scope: 'profiles'})
    });
