.profile-in
  %header
    = image_tag 'magma-2.svg', class: 'logo-magma'
  .line
  %h4= t('profiles.profile')
  .pic
    = image_tag 'github.svg'
  .company
    = user_company
  .location
    Location
  .email
    = user_email
  .complete
    = link_to t('profiles.edit'), edit_profile_path
  .cfp-logo
    = image_tag 'cfp-2.svg'
