.profile-in
  %header
    = link_to 'http://magmaconf.com' do
      = image_tag 'magma-2.svg', class: 'logo-magma'
  .line
  %h4= t('profiles.profile')
  .pic
    = image_tag current_user.gravatar_url(size: 150)
  .user_name
    = current_user.name
  .company
    = current_user.company
  .email
    = current_user.profile_email
  - unless profile_new?
    .complete
      = link_to t('profiles.edit'), edit_profile_path
  .cfp-logo
    = image_tag 'cfp-2.svg'
