- content_for :header_title do
  %h3= t('profiles.profile')

.nine-columns
  = form_for @profile, url: profile_path, html: { id: 'edit_profile', novalidate: true } do |form|

    .white_background
      = render 'form', form: form

    .actions
      .two-columns.offset-three
        .btn-cancel
          = link_to t('profiles.cancel'), proposals_path, class: 'aro'
      .one-columns-medium.offset-one
        .btn-aro
          = form.submit t('profiles.update'), class: 'aro'

.one-column
