.span6.offset2
  %h3= t('profile.profile')
  .white_background.show_profile

    %h3.profile_name= @profile.name
    %table.profile_info{border: '0'}
      %tbody
        %tr
          %th Company
          %td= @profile.company
        %tr
          %th Title
          %td= @profile.title
        %tr
          %th Bio
          %td= @profile.bio
    = link_to t('actions.edit'), edit_profile_path, :class => 'btn-cfp'
    .clearfix<