!!!
%html
  %head
    %title MagmaConf : Call For Papers
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}
    %meta{name: "author", content: "Crowd Interactive - http://crowdint.com"}
    %meta{content: ' MagmaConf: Call For Papers', property: 'og:title'}
    %meta{content: 'http://cfp.magmaconf.com', property: 'og:url'}
    %meta{content: 'Call for Papers of MagmaConf 2014. MagmaConf is an annual Web Development Conference happening June 4, 5 & 6 2014 in the coastline city Manzanillo, Colima, Mexico', property: 'og:description'}
    %meta{content: 'Call for Papers of MagmaConf 2014. MagmaConf is an annual Web Development Conference happening June 4, 5 & 6 2014 in the coastline city Manzanillo, Colima, Mexico.', name: 'description'}
    %meta{name: "keywords", content: "call for papers, magmaconf, rails, ruby, UI, UX, web development, frontend, manzanillo, conference, 2014, june, junio, github, sinatra, design, conferencia, tecnologia"}
    = stylesheet_link_tag    'cfp/application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,300|Oswald:400,300,700&subset=latin' }
    %link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico'}"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = render 'cfp/application/popup'
    = render 'cfp/application/imp_info'
    %section#home-top.container
      .row
        .centered-seven
          =link_to '#', class: 'info_phone' do
            = image_tag 'info.svg'
          = image_tag 'magma.svg', class: 'magma_logo', alt: 'Magma Conference'
          = image_tag 'blog-image.svg', alt: 'Reylero', class: 'mask'
          %p.ready SUBMIT YOUR PROPOSAL
          %p.you FOR #MAGMACONF 2015 ARENA!
          = image_tag 'cfp.svg', alt: 'Call for papers', class: 'cfp'

      = yield

    #lists.container
      %footer.row
        .centered-six
          .cir= image_tag 'info.svg'
          %br
          %p
            = t('terms.important')
          %br
          = link_to t('terms.show'), '#', class: 'my_modal_open'

        .centered-six
          = image_tag 'crowd-1.svg', class: 'crowd-logo'
        .centered-eight
          %span
            &copy;
            = t('copyright')
    = render 'cfp/application/lists'

    #home-down.container

    :javascript
      'effects'
