!!!
%html
  %head
    %title MagmaConf : Call For Papers
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}
    %meta{name: "author", content: "Magma Labs - http://www.magmalabs.io"}
    %meta{content: ' MagmaConf: Call For Papers', property: 'og:title'}
    %meta{content: 'http://cfp.magmaconf.com', property: 'og:url'}
    %meta{content: 'Call for Papers of MagmaConf 2016. MagmaConf is an annual Web Development Conference happening June 1, 2 &amp;amp; 3 2016 in the coastline city Manzanillo, Colima, Mexico.', name: 'description'}
    %meta{content: 'Call for Papers of MagmaConf 2016. MagmaConf is an annual Web Development Conference happening June 1, 2 &amp;amp; 3 2016 in the coastline city Manzanillo, Colima, Mexico.', property: 'og:description'}
    %meta{name: "keywords", content: "call for papers, magmaconf, rails, ruby, UI, UX, web development, frontend, manzanillo, conference, 2016, june, junio, github, sinatra, design, conferencia, tecnologia"}
    = stylesheet_link_tag    'cfp/application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Open+Sans:600,400|Oswald:400,300,700&subset=latin' }
    %link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico'}"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %section#home-top.container
      .row
        .centered-six
          =link_to '#', class: 'info_phone' do
            = image_tag 'info.svg'
          = link_to 'http://magmaconf.com' do
            = image_tag 'logo_magmaconf.png', class: 'magma_logo', alt: 'Magma Conference'
          -#= image_tag 'cfp-image.svg', alt: 'Reylero', class: 'mask'
          #sign-in.mask.placeholder
          .ready
            -#= t('proposal.submit')
            = image_tag 'submit.png'
            %br
            -#%span.proposal= t('proposal.proposal')
          .you= t('magmaconf_arena')
          .cfp
            %span
              Welcome to our
            = image_tag 'logo_callforpapers.png', alt: 'Call for papers'

          .please-login
            Please login with
            %br
            %strong
              your GitHub
            Or
            %strong
              E-mail account
            %br
            To submit a proposal

      = yield

    #lists.container
      %footer.row
        .centered-six
          %p.closing-date
            = t('closing_date')
            %br
            %strong= t('closing_date_2')

          %p.important-terms
            = t('home.have_question')

          = link_to '#', class: 'check-out' do
            = t('home.check_out')
            %span

        .centered-eight
          = image_tag 'logo_magmalabs.png', class: 'logo'
          .copyright
            &copy;
            = t('copyright')

    =# render 'cfp/application/lists'

    #home-down.container
      .row
        .offset-one.eight-columns.header
          Something you should know

        .two-columns.back-to-sign-in
          =link_to '#sign-in' do
            %span
            Back to sign in

        %hr.ready-hr

        .offset-one.three-columns.override
          .title= t('popup.magma.title')

          %p=raw t('popup.magma.one')
          %p= t('popup.magma.two')
          %p= t('popup.magma.three')

        .three-columns.override
          .title= t('popup.speakers.title')

          %p= raw t('popup.speakers.one')
          %p= t('popup.speakers.two')
          %p= t('popup.speakers.three')

        .three-columns.override
          .title= t('popup.judges.title')

          %p=raw t('popup.judges.one')
          %p= t('popup.judges.two')
          %p=raw t('popup.judges.three')
          %p= t('popup.judges.four')

      .row
        %hr.last-hr

        .offset-one.seven-columns
          .title= t('popup.topics.title')

          %p=raw t('popup.topics.one')

          %ul
            %li= t('popup.topics.two')
            %li= t('popup.topics.three')
            %li= t('popup.topics.four')
            %li= t('popup.topics.five')
            %li= t('popup.topics.six')
            %li= t('popup.topics.seven')
            %li= t('popup.topics.eight')
            %li= t('popup.topics.nine')
            %li= t('popup.topics.ten')

        .three-columns.sponsors
          .content
            .title= t('popup.sponsors.title')

            %p=raw t('popup.sponsors.one')
            %p=raw t('popup.sponsors.two')

          = form_tag '/send_mail', remote: true, method: :post, id: 'sponsor-form', novalidate: true do
            .required
              %label Name
              .error.left-arrow
              %input{type: 'text', name: 'name', required: 'true', data: error_messages }
            .required
              %label Company
              .error.left-arrow
              %input{type: 'text', name: 'company', required: 'true', data: error_messages }
            .required
              %label E-mail
              .error.left-arrow
              %input{type: 'email', name: 'email', required: 'true', data: error_messages }
            %input{type: 'submit', value: 'Email me'}

          #sponsor-contact-greeting{style: "display: none"}
            .circle
            .text
              %p.title= raw t("contact.greeting.title")
              %p.body= raw t("contact.greeting.body")

    %footer
      .row
        %hr.last-hr
        .centered-six
          = image_tag 'logo_callforpapers_gris.png', class: 'cfp-footer-logo'
          = image_tag 'logo_magmaconf_gris.png', class: 'magma-footer-logo'
