!!!
%html
  %head
    %title MagmaConf : Call For Papers
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}
    %meta{name: "author", content: "Crowd Interactive - http://crowdint.com"}
    %meta{content: ' MagmaConf: Call For Papers', property: 'og:title'}
    %meta{content: 'http://cfp.magmaconf.com', property: 'og:url'}
    %meta{content: 'Call for Papers of MagmaConf 2015. MagmaConf is an annual Web Development Conference happening June 18, 19 & 20 2015 in the coastline city Manzanillo, Colima, Mexico', name: 'description'}
    %meta{content: 'Call for Papers of MagmaConf 2015. MagmaConf is an annual Web Development Conference happening June 18, 19 & 20 2015 in the coastline city Manzanillo, Colima, Mexico', property: 'og:description'}
    %meta{name: "keywords", content: "call for papers, magmaconf, rails, ruby, UI, UX, web development, frontend, manzanillo, conference, 2015, june, junio, github, sinatra, design, conferencia, tecnologia"}
    = stylesheet_link_tag    'cfp/application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Teko:300,400,500|Open+Sans:600,400|Roboto:400,100,300|Oswald:400,300,700&subset=latin' }
    %link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico'}"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = render 'cfp/application/popup'
    = render 'cfp/application/imp_info'
    %section#home-top.container
      .row
        .centered-six
          =link_to '#', class: 'info_phone' do
            = image_tag 'info.svg'
          = link_to 'http://magmaconf.com' do
            = image_tag 'magma.svg', class: 'magma_logo', alt: 'Magma Conference'
          = image_tag 'cfp-image.svg', alt: 'Reylero', class: 'mask'
          %hr.ready-hr
          .ready
            = t('proposal.submit')
            %br
            %span.proposal= t('proposal.proposal')
          .you= t('magmaconf_arena')
          %hr.ready-hr
          .cfp
            %span
              welcome to our
            = image_tag 'cfp.svg', alt: 'Call for papers'

          .please-login
            please login with
            %br
            %strong
              your gtihub account
              %br
            to submit your proposal

      = yield

    #lists.container
      %footer.row
        .centered-six
          %p.closing-date
            = t('closing_date')
            %br
            %strong= t('closing_date_2')

          %p.important-terms
            = t('home.have_question')

          = link_to '#', class: 'check-out' do
            = t('home.check_out')
            %span

        .centered-eight
          .copyright
            &copy;
            = t('copyright')

          = image_tag 'crowd-1.svg', class: 'crowd-logo'

    =# render 'cfp/application/lists'

    #home-down.container

    :javascript
      'effects'
